<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios1508—张坤亮.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC9023091C8A6ADC003C8F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9023221C8A6ADC003C8F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC90232D1C8A6ADC003C8F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
